/*
$bp-750: 46.875em; // 750px
$bp-620: 38.75em; // 620px
$bp-480: 30em; // 480px
$bp-340: 21.25em; // 340px*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: white;
  width: 100vw; }

main {
  /*.bg {
        transform: translateY(-20rem);
        z-index: -1;
        position: relative;
    }*/ }

.btn {
  text-decoration: none;
  font-size: 1.4rem; }
  .btn--header {
    width: 25rem; }
  .btn--large {
    color: white;
    background-image: linear-gradient(to right, #65e2d9, #339ecc);
    padding: 1.7rem;
    border-radius: 50px; }

.header {
  background-color: #1c2431;
  background-image: url(../img/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-bottom: 20rem; }
  .header-nav {
    padding: 6rem;
    display: flex;
    align-items: center; }
  .header-nav__logo-link {
    margin-right: auto; }
  .header-nav__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: white; }
    .header-nav__link:not(:last-child) {
      margin-right: 4rem; }
  .header__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header__illustration {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 3rem; }
  .header__heading {
    font-family: "Raleway", sans-serif;
    font-size: 3.5rem;
    width: 70rem;
    width: 50%;
    margin-bottom: 3rem; }
  .header__text {
    font-size: 1.7rem;
    width: 50rem;
    margin-bottom: 2rem; }
