// COLOR VARIABLES
$color-dark-blue-intro: hsl(217, 28%, 15%);
$color-dark-blue-main: hsl(218, 28%, 13%);
$color-dark-blue-footer: hsl(216, 53%, 9%);
$color-dark-blue-testimonials: hsl(219, 30%, 18%);

$color-cyan: hsl(176, 68%, 64%);
$color-blue: hsl(198, 60%, 50%);

$color-pink: hsl(334, 80%, 62%);

$color-white: hsl(0, 0%, 100%);
$color-grey: hsl(0, 0%, 73%);
$color-black: hsl(0, 0%, 0%);



// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Raleway', sans-serif;

// FONT SIZE
$default-font-size: 1.4rem;

// RESPONSIVE BREAKPOINTS

/*
$bp-750: 46.875em; // 750px
$bp-620: 38.75em; // 620px
$bp-480: 30em; // 480px
$bp-340: 21.25em; // 340px*/