.features {
    padding: 0 6rem;
    margin-bottom: 12rem;

    display: grid;
    grid-template-columns: repeat(2, minmax(25rem, 37rem));
    grid-column-gap: 13rem;
    grid-row-gap: 9rem;
    justify-content: center;
    align-items: end;

    @media only screen and (max-width: $bp-900) {
        grid-column-gap: 5rem;
        justify-content: space-between;
    }

    @media only screen and (max-width: $bp-600) {
        margin-bottom: 15rem;
        padding: 0 3.5rem;
        grid-template-columns: minmax(25rem, 45rem);
        justify-content: center;
    }
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__icon {
        margin-bottom: 2rem;
        display: block;
        height: 8rem;
        width: auto;
    }

    &__heading {
        font-family: $font-secondary;
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: .7rem;
    }

    &__description {
        font-size: $default-font-size;
    }
}