.works {

    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    //grid-template-columns: repeat(2, minmax(25rem, 60rem));
    //grid-template-columns: minmax(25rem, 55rem) minmax(25rem, 45rem);
    justify-content: center;
    align-items: center;
    grid-gap: 5rem;

    &__img {
        display: block;
        width: 80%;
        height: auto;
        justify-self: right;
    }

    &__text {

    }

    &__heading {
        font-family: $font-secondary;
        font-size: 3.5rem;
        width: 65%;
        line-height: 1.2;
        margin-bottom: 2rem;
    }

    &__description {
        font-size: $default-font-size;
        margin-bottom: 1.5rem;
        width: 80%;
    }
}