.btn {
    text-decoration: none;
    font-size: $default-font-size;

    &--large {
        font-family: $font-secondary;
        color: $color-white;
        background-image: linear-gradient(to right, $color-cyan, $color-blue);
        padding: 1.5rem;
        border-radius: 50px;
        transition: all .2s;

        //Styles for the <button> element
        border: none;
        cursor: pointer;

        //Raise button up on hover
        &:hover,
        &:focus {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black,.4);
            outline: none; //to get rid of outline on <button> element
        }
    
        //Have button appear to be pushed down when clicked or focused
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba($color-black,.4);
        }
    }

    &--header {
        width: 25rem;
    }

    &--form {
        width: 19rem;

        @media only screen and (max-width: $bp-600) {
            width: 100%;
        }
    }

    &--small {
        color: $color-cyan;
        border-bottom: 1px solid $color-cyan;
        padding-bottom: 2px;

        &:hover &__icon {
            margin-left: 5px;
        }

        &__icon {
            transform: translateY(3px);
            transition: margin-left .3s;
        }
    }
}