.btn {
    text-decoration: none;
    font-size: $default-font-size;

    &--header {
        width: 25rem;
    }

    &--large {
        font-family: $font-secondary;
        color: $color-white;
        background-image: linear-gradient(to right, $color-cyan, $color-blue);
        padding: 1.7rem;
        border-radius: 50px;
    }

    &--small {
        color: $color-cyan;
        border-bottom: 1px solid $color-cyan;
        padding-bottom: 2px;

        &:hover &__icon {
            margin-left: 5px;
        }

        &__icon {
            transform: translateY(3px);
            transition: margin-left .3s;
        }
    }
}