*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px

    @media only screen and (max-width: $bp-700) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
    color: $color-white;
    width: 100vw;
}

main {
    background-color: $color-dark-blue-main;
    position: relative;
}